#divRSChatMasterBox {
    font-family: symbola, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    display: none;
    z-index:10000;
}

.rsTable {
    border:0;
    background-color:transparent;
}
.rsTable tr td {
    padding:0;
    margin:0;
    border:0;
    border-collapse:collapse;
    width:100%;
}

#divRSChatHeaderLinks {
    background-color: #000;
    color: #fff;
}

#divRSChatHeaderLinks a {
    color: #fff;
    text-decoration: none;
}

#divRSChatHeaderLinks a:visited {
    color: #fff;
    text-decoration: none;
}

#divRSChatHeaderLinks a:hover {
    color: orange;
    text-decoration: none;
}

#divRSChatTabBottom {
    cursor: pointer;
    float: right;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 7px;
    color: #fff;
    margin-right: -3px;
    margin-top: -37px;
    background-color: #000;
}

#divRSChatContainerBox {
    margin-top: -0px;
    border: 3px solid #000;
    border-top: 10px solid #000;
    background-color: #EBEBEB;
    width: 100%;
    border-top-left-radius: 7px;
    margin-left: -20px;
    position: absolute;
}

#divRSChatContentBox {
    color: #222;
    /* border-top: 2px solid #2483D5; */
    width: 100%;
    font-weight: normal;
}

#divRSChatContentBox a {
    color: #5A5A5A;
    text-decoration: none;
}

#divRSChatContentBox a:visited {
    color: #5A5A5A;
    text-decoration: none;
}

#divRSChatContentBox a:hover {
    color: #5A5A5A;
    text-decoration: none;
}

.chatHeader {
    font-weight: normal;
    font-size: 10pt;
    line-height: 1.4;
}

.rsTextBox {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 2px;
    height: 22px;
}

.rsTextArea {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 4px;
    height: 90px;
    width: 100%;
    resize: none;
    font-family: symbola, arial, sans-serif;
}

.rsBoxShadow
{
    box-shadow: 0 1px 15px #333;
}

.rsChatButton {
    border: 1px solid #0872C5;
    background-color: #0872C5;
    border-radius: 4px;
    box-shadow: 0 1px 3px #fff, inset 0 -15px #045DA1, 0 0 3px #0872C5;
    color: #fff;
    padding: 3px 15px;
    font-size: 12px;
    cursor: pointer;
}

.rsChatButton:hover {
    border: 1px solid #0872C5;
    background-color: #0872C5;
    border-radius: 4px;
    box-shadow: 0 1px 3px #fff, inset 0 -15px #045DA1, 0 0 3px #0872C5;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    padding: 3px 15px;
    font-size: 12px;
    cursor: pointer;
}

.rsTabGlow {
    border: 1px solid #0872C5;
    background-color: #0872C5;
    box-shadow: 0 0 0, inset 0 -15px #045DA1, 0 0 3px #0872C5;
    color: #fff;
    /*text-shadow: 0 1px #fff;*/
    padding: 3px 15px;
    font-size: 12px;
    cursor: pointer;
}

.rsTabGlow:hover {
    border: 1px solid #0872C5;
    background-color: #0872C5;
    box-shadow: 0 0 0, inset 0 -15px #045DA1, 0 0 3px #0872C5;
    color: #fff;
    padding: 3px 15px;
    font-size: 12px;
    cursor: pointer;
}

.rsIcons1 {
    font-family: rsIcons1;
}

.rsIcons2 {
    font-family: rsIcons2;
}