
#top-header {
    background:#3c3c3c;
    padding:10px 0!important;
}
.top-header-hover {
    background: #092447!important;
    transition:2s ease;
}

#main-header {
    background:#ffffff url("../images/index-background.jpg") 0px 30px no-repeat;

}

.top-heading {
    color:#ffffff;
    margin-top:10px!important;
}
.head-title-1 {
    font-size:32px;
    font-weight:bold;
}
.head-title-right {
    margin-top:5px;
    color:#ffffff;
}
.head-title-right2 {
    margin-top:13px;
    color:#ffffff;
    font-size:10px;
}
.btn-start-now-sm {
    padding:5px 10px;
    margin-top:3px;
    background:#3a8dff;
    border:none;
    color:#ffffff;
}

.btn-start-now-md {
    padding:10px 30px;
    margin-top:5px;
    background:#3a8dff;
    border:none;
    color:#ffffff;
}
.btn-start-now-md2 {
    padding:10px 30px;
    margin-top:5px;
    background:#FF8F0F;
    border:none;
    color:#ffffff;
}
.btn-start-now-md2:hover {
    color:#ffffff;
    background:#E77F06;
}

.btn-start-now-md-gray {
    padding:10px 30px;
    margin-top:5px;
    background:#797979;
    border:none;
    color:#ffffff;
}
.btn-start-now-sm:focus,
.btn-start-now-md:focus,
.btn-start-now-md-gray:focus {
  /*  background:#3A6BAE;*/
    color:#ffffff;
}
.btn-start-now-sm:hover,
.btn-start-now-md:hover,
.btn-start-now-md-gray:hover {
    background:#3A6BAE;
    color:#ffffff;
}
.btn-start-now-lg {
    padding:10px 50px;
    margin-top:5px;
    background:#3a8dff;
    border:none;
    color:#ffffff;
    font-size:32px;
}
.btn-start-now-lg:hover {
    background:#3A6BAE;
    color:#ffffff;
}
.btn-start-now:hover {
    background:#3A6BAE;
    color:#ffffff;
}

#sub-header {
    background:#efefef;
    padding:10px 0!important;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 1;
}

.sub-info {
    position:relative;
    left:-80px;
}

.btn-new {
    background:#fe850e;
    color:#ffffff;
    padding:3px 10px;
}
.btn-new:hover {
    color:#ffffff;
}

#top-icons {
    list-style-type:none;
    margin-top:5px;
}
#top-icons li {
    display:inline;
    padding:0 10px;
    border-right:1px solid #666;
}
#top-icons li:last-child {
    border:0px!important;
}

#bot-header {
    background:#efefef;
    padding:30px 0!important;
}
#main-content {
    background:#ffffff;
}

#main-content h1 {
    margin:0px!Important;
}

.btn-content-main-md {
    padding:10px 20px;
    margin-top:5px;
    background:#cccccc;
    border:none;
    color:#222222;
    border-radius:5px;
    /*	box-shadow: 0 0 20px 1px #666 inset;*/
}
.btn-content-main-md > small {
    color:#666666!important;
}
.btn-content-main-md:hover {
    color:#ffffff!important;
    background:#3a8dff;
}

.btn-content-main-md:hover > small {
    color:#ffffff!important;
}
.btn-content-main-active {
    color:#ffffff!important;
    background:#3a8dff;
}
.btn-content-main-active > small {
    color:#ffffff!important;
}
.remove-pad {
    padding:0px!Important;
}

#cpanel-container {
    border:1px solid #000000;
    border-radius:5px;
    padding:20px;
    position:relative;
    left:30px;
}

/* upsell area */
#top-Guide-free {
    display:none;
    background:#3C3C3C;
    color:#ffffff;
    padding:30px;
    position:absolute;

    right:80px;
    border-radius:5px;
    width:300px;
}

#top-Guide-prof {
    display:none;
    background:#3C3C3C;
    color:#ffffff;
    padding:30px;
    position:absolute;
    right:0px;
    top:-25px;
    border-radius:5px;
    width:300px;
}

#arrow-down {
    animation: bounce 1s infinite;
    -webkit-animation: bounce 1s infinite ;
}
@keyframes bounce {
    0% { transform: translate3d(0,   0px,0);
        animation-timing-function: ease-out; }
    50% { transform: translate3d(0,-10px,0);
        animation-timing-function: ease-in; }
    100% { transform: translate3d(0,   0px,0); }
}
@-webkit-keyframes bounce {
    0% { -webkit-transform: translate3d(0,   0px,0);
        -webkit-animation-timing-function: ease-out; }
    50% { -webkit-transform: translate3d(0,-10px,0);
        -webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: translate3d(0,   0px,0); }
}
#arrow-right {
    animation: bounce-right 1s infinite;
    -webkit-animation: bounce-right 1s infinite ;
}
@keyframes bounce-right {
    0% { transform: translate3d(0,   0px,0);
        animation-timing-function: ease-out; }
    50% { transform: translate3d(10px,0,0);
        animation-timing-function: ease-in; }
    100% { transform: translate3d(0,   0px,0); }
}
@-webkit-keyframes bounce-right {
    0% { -webkit-transform: translate3d(0,   0px,0);
        -webkit-animation-timing-function: ease-out; }
    50% { -webkit-transform: translate3d(0,-10px,0);
        -webkit-animation-timing-function: ease-in; }
    100% { -webkit-transform: translate3d(0,   0px,0); }
}



.yellow-text {
    color:#fefdb0;
}

#float-footer {
    background:#3C3C3C;
    color:#ffffff;
    position:fixed;
    bottom:0px;
    padding:0px;

}
#float-footer-prof {
    background:#3C3C3C;
    color:#ffffff;
    position:fixed;
    bottom:0px;
    padding:0px;
}

#prof-html-section {
    padding:20px;
}

#upgrade-section {
    padding:20px;
    background:#333333;
    display:none;
}
#no-thanks-section {
    padding:20px;
    background:#222222;
    display:none;

}
#install-section {
    display:none;
    padding:20px;
    background:#111111;
}

.prev-price {
    text-decoration:line-through;
    font-style:italic;
}
.upsell-divider {
    border-right:1px solid #ccc;
}

/* from styles */


.top-head-generator {
    position:relative;
    z-index:2;
}

#progressbar {
    position:relative;
    top:5px;
}

.main-content {
    /*border-right:1px solid #cccccc;*/
}

.statusbar {
    position:static;
    z-index:2;
    background:#ffffff;
    border:1px solid #cccccc;
    border-radius:5px;
    padding:10px 15px 15px;
    margin: 10px 25px;
    width:265px;
}
#statusbar a {
    font-size:11px;
    color:#666666;
    font-weight:500;
    line-height:1;
}
#statusbar a:hover {
    color:#3A8DFF;
}
.statusdone {
    color:#3A8DFF;
}
.hr-sidebar {
    margin:5px 0;
}
.squeeze {
    width:1200px!important;
    box-shadow:0 0 40px #999999;`
-moz-box-shadow:0 0 40px #999999;
    -webkit-box-shadow:0 0 40px #999999;
    background:#FFFFFF;
    padding: 0 30px!important;
    border-radius:0 0 15px 15px;
    min-height:650px;
}
.ajax-squeeze {
    padding: 0 30px!important;
    line-height:1.8;
}
.next {
    margin-left:2px;
}

.sidebar-text:hover {
    text-decoration:underline;
}
.congratulations {
    font-size:50px;
}
.quick-links {
    padding:8px 0;
    background:#efefef;
    border:1px solid #dddddd;
    border-radius:5px;
    margin:1px 0;
}
.quick-links2 {
    padding:8px 0;
    background:#d9edf7;
    border-radius:5px;
    margin:1px 0;
    border:1px solid #bce8f1;
}
.gen-quick-links {
    line-height:1;
    color:#000000;
    font-size:18px;
}
.quick-links:hover  {
    background:#cccccc;
}
.quick-links2:hover  {
    background:#97d0ec;
}

/* Blog Page*/
.blog-side-title {

    padding:10px;
    margin-bottom:10px;
}

ul#blog-lists  {
    list-style-type:none;
    padding-left:5px;
}
ul#blog-lists  li {
    border-bottom:1px solid #cccccc;
    padding:10px 15px;
}
ul#blog-lists  li:last-child {
    border:none;
}

/* login page */



/* Checkout page */

.checkout-boxes {
    border:1px solid #cccccc;
    background:#ffffff;
    padding:15px 20px;
}

.checkout-form-label label {
    margin:7px 0;
}
.checkout-form-input input ,
.checkout-form-input select{
    margin:5px 0;
}
.checkout-form-input input[type=text],
.checkout-form-input input[type=email]{
    width:100%!important;
}
.text-gray {
    color:#cccccc;
}
.text-gray:hover {
    color:#666666;
}

/* footer area */

#pre-footer {
    background:#efefef;
    padding:30px 0!important;
}

#footer {
    background:#3c3c3c;
}


.footerLinks
{
    padding-top:20px;
    color:#fff;
}

.footerLinks a
{
    color:#aeaeae;
}

.footerLinks a:hover
{
    color:#3A8DFF;
}

.checkbox-border {
    border:1px solid #129801;
    width:25px;
    height:25px;
    position:relative;
    top:20px;
}
.red-border {
    border:1px solid #FF0001;
}
.checkbox-item {
    position:absolute;
    left:3px;
    top:3px;
    cursor:pointer;
}


/* overwrite bootstrap style - Fix page shift when modal opened */
.modal{
    overflow-y: auto;
}
.modal-open{
    overflow:auto;
    overflow-x:hidden;
}
/* overwrite bootstrap style end */


/* Custom add chart on frontpage OCtober 9,2014 */


.fpp-chart-body {
    background:#F6F6F6;
    border:3px solid #DADADA;
    border-bottom:0px;
    position:relative;
    min-height:300px;
    padding:0 10px;
    z-index:3;
}

.fpp-chart-body  img {
    background:#EDEDED;
    padding:12px 30px;
    border:3px solid #dadada!important;
    position:relative;
    z-index:2;

}
.teste {
    position:absolute;
    top:5px;
    left:-11px;

}

.prof-check-list{
    list-style-image:url("../images/frontpage-upsell/front-img-check.png");
    padding-left:45px!Important;
    line-height:1;
}
.popout-container {
    padding:0 10px;
}

.pop-outprice {
    border:2px solid #dadada;
    padding:10px 10px 10px 25px!important;
    position:relative;
    top:-10px;
    z-index:0;
}
/*
.fpp-main:hover  .pop-outprice {
    position:relative;
    top:-10px;
    transition:top 1s ease-in-out!important;
    -webkit-transition:top 1s  ease-in-out;
    -moz-transition:top 1s  ease-in-out;
}*/

/* Custom October 9,2014  End */