/* Global Declaration */
body {
	margin:0px;
	background:#eeeeee;
	overflow-x:hidden;
}


#skrollr-body {
	height:auto!important;
	}

@font-face
	{
	font-family: proxima-nova;
	src: url(../fonts/Proxima-Nova-Regular.woff);
	}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,200,200italic);

*	{
		font-family:'Source Sans Pro', sans-serif;
	}
	
.f200 {
	font-weight:200;
}
.f500 {
	font-weight:500;
}
.f800 {
	font-weight:800;
}

#privacyForm input,
#privacyForm textarea{

}
.clear{
	clear:both;
}

.no-pad-left {
	padding-left:0px!important;
}

.top-head-generator {
	position:relative;
	z-index:2;
}

#progressbar {
	position:relative;
	top:5px;
}

.main-content {
	/*border-right:1px solid #cccccc;*/
}

#statusbar {
	position:static;
	z-index:2;
	background:#ffffff;
	border:1px solid #cccccc;
	border-radius:5px;
	padding:10px 15px 15px;
	margin: 10px 25px;
	width:265px;
}
#statusbar a { 
	font-size:11px;
	color:#666666;
	font-weight:500;
	line-height:1;
}
#statusbar a:hover {
	color:#3A8DFF;
} 
.statusdone {
	color:#3A8DFF;
}
.hr-sidebar {
	margin:5px 0;
}
.squeeze2 {
	width:100%;
	box-shadow:0 0 40px #999999;`
	-moz-box-shadow:0 0 40px #999999;
	-webkit-box-shadow:0 0 40px #999999;
	background:#FFFFFF;
	padding: 0 30px!important;
	border-radius:0 0 15px 15px;
	min-height:650px;
}
.ajax-squeeze {
	padding: 0 30px!important;
	line-height:1.8;
}
.next {
	margin-left:2px;
}

.sidebar-text:hover {
	text-decoration:underline;
}
.congratulations {
	 font-size:50px;
}
.quick-links {
	padding:8px 0;
	background:#efefef;
	border:1px solid #dddddd;
	border-radius:5px;
	margin:1px 0;
}
.quick-links2 {
	padding:8px 0;
	background:#d9edf7;
	border-radius:5px;
	margin:1px 0;
	border:1px solid #bce8f1;
}
.gen-quick-links {
	line-height:1;
	color:#000000;
	font-size:18px;
}
.quick-links:hover  {
	background:#cccccc;
}
.quick-links2:hover  {
	background:#97d0ec;
}

.cpreview-custom-body {
    background-color:#FDFDFD;
}
.cpcoach-custom-body {
    background:url('../images/cp-review-img2.png') bottom right no-repeat;
    background-color:#FDFDFD;
}

.section-title  {
    font-size:16px;
}